.container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2.1rem 3.5rem ;
    border: 0.16rem solid #bebcbc;
    border-radius: 0.5rem;
    width: 36%;
    text-align: center;
}

form{
    text-align: left;
}