/* -----------  NAVBAR STYLE -------------- */
.navbar {
    border-bottom: 2px solid #ccc;
}

/* ---------   SIDEBAR STYEL -------------- */

.logo{
    text-decoration: none;
    font-size: 2rem;
    font-style: italic;
    font-weight: 700;
    /* padding-left:1.5rem;
    margin: 0.5rem; */
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #d8d7d7;
    display: block;
  text-align: center;
}

.nav-links{
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 1.2rem;
    height: 90vh;
}

.nav-links li{
    font-size: 1.15rem;
    font-weight: 600;
    padding-bottom: 4px;
}

.nav-links li a{
    color: #fff;
    text-decoration: none;
}


/* ---------   ADD PRODUCT  -------------- */
/* Style.css */

.col-2 {
    padding-right: 0;
  }
  
  .col-10 {
    padding-left: 0; 
  }
 
  