*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -----------------  NAVBAR STYLE  -------------- */
.header{
    background-color:#198754;
    color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    position: sticky;
    transition: trandform 0.3s ease-in-out;
    z-index: 100;
}
 
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
}

.logo{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

.nav-links{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links.open{
    display: block;
}

.nav-links li{
    margin-right: 20px;
    font-size: 1.15rem;
}

.nav-links li a{
    color: #fff;
    text-decoration: none;
}

.menu-icon{
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 35px;
    border: 1px solid #c4c4c4;
    padding: 7px;
}

.bar{
    background-color: #fff;
    height: 3px;
    width: 25px;
    transition: transform 0.3s ease-in-out;
}

.open .bar:nth-child(1){
    transform: rotate(-45deg) translate(-5px, 6px);
}
.open .bar:nth-child(2){
    opacity: 0;
}
.open .bar:nth-child(3){
    transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 600px){
    .menu-icon{
        display: flex;
    }
    .nav-links{
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding-left: 20px;
        border-top: 2px solid #fff;
        padding-top: 14px;
    }
    .nav-links li{
        padding-bottom: 18px;
        font-weight: 600;
    }
    .nav-links .open{
        display: flex;
    }
}

/* -----------------------    FOOTER STYLE    -------------------- */
.footer{
    position: absolute;
    text-align: center;
    width: 100%;
    background-color:#198754;
    color: #fff;
    padding: 15px 0px;
    margin: 0px;
}

/* ------------------------     SIGN UP/IN STYLE    -------------------- */
.container{
    margin-top: 2.2rem;
    margin-bottom: 2.1rem;
    padding: 0.8rem 3.5rem ;
    border: 0.16rem solid #bebcbc;
    border-radius: 0.5rem;
    width: 36%;
    text-align: center;
}

#login{
    margin-top: 4.9rem;
    margin-bottom: 4.8rem;
}

form{
    text-align: left;
}